.main {
    padding: rem(5px) rem(10px);
    background-color: var(--color-100);
    color: var(--color-0);
    border: none;
    cursor: pointer;
    @include standard-animation(0.35s);

    &:hover{
        background-color: var(--color-80);
    }

    &:disabled {
        opacity: 0.5;
    }
}
